.inner {
	width:@gridRowWidth;
	margin:0 auto;
}

#featured-work {
	ol {
		margin:0;
		padding:0;
		list-style:none;

		li {
			width:100%;
			height:360px;
			padding:0;
			margin:0;

			&.kennedy-center {
				background: url(/img/clients/kennedy-center/bg-med.jpg) no-repeat;
				background-position:center; 
			}
		}
	}
}