/* =============================================================================
   Less -- Vars, Mixins & Utility Classes
   ========================================================================== */

@feature_banner_height: 507px;
@feature_nav_height: 60px;
@feature_nav_width: 50px;

@jake-green: #9ccc50;
@jake-blue: #003768;
@dark-gray: #444343;

@sans-medium: 'Novecento W00 Medium', Helvetica, Arial, sans-serif;


.active { color: #9ccc50; }

.inner {
	width: @gridRowWidth;
	margin: 0 auto;
}

.hidden-text {
	display: block;
	text-indent: -10000px;
}

.clear-list-styles {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dimensions( @width, @height ) {
	width: @width;
	height: @height;
}


/* =============================================================================
   Base
   ========================================================================== */


/* =============================================================================
   Layout
   ========================================================================== */

#header {
	padding: 20px 0;

	.box-shadow( inset 0px -1px 3px -1px #999 );
	background: url( /img/bg.png ) repeat;
}


/* =============================================================================
   Components
   ========================================================================== */

#logo {
	.dimensions( 200px, 45px );
	
	.pull-left;
	
	.hidden-text;
	background: url( /img/jake-logo.png ) no-repeat;
}

/*
<nav class="primary-nav pull-right" role="navigation">
	<ul id="menu-primary-navigation" class="menu horizontal-list">
		<li class="menu-about"><a href="/about/">About</a></li>
		<li class="menu-work"><a href="/work/">Work</a></li>
		<li class="menu-blog"><a href="http://jakeintel.thejakegroup.com">Blog</a></li>
		<li class="menu-contact"><a href="/contact/">Contact</a></li>
	</ul>
</nav>
*/
.horizontal-list {
	.clearfix;
	.clear-list-styles;

	li { .pull-left; }
}

#menu-primary-navigation {

	a {
		padding: 11px 22px;
		
		font-size: 16px; //make var
		font-family: @sans-medium;
		color: #666;
		.transition( color .25s );

		&:hover {
			color: @jake-green;
			text-decoration: none;
		}

		&:active {
			color: @jake-blue;
			.transition( color .15s );						
		}
	}

	.active a {
		color: @jake-blue;
	}
}
	


ul { 		margin-top: 10px;
		margin-right: -11px;
}
/* =============================================================================
   Undone
   ========================================================================== */



#logo-highlight {
	display: block;
	height: 5px;
	width: 100px;
	
	position: absolute;
	bottom: -5px;
	
	.hidden-text;
	background: @jake-green;
}

#featured-work {
	position: relative;
	
	border-bottom: 5px solid #D9D7D8;
	background: @dark-gray;
	
	a.scroll-left, 
	a.scroll-right {
		width: @feature_nav_width;
		height: @feature_nav_height;

		position: absolute;
		top: ( @feature_banner_height / 2 ) - ( @feature_nav_height / 2 );
		z-index: 40;
		
		.hidden-text;
		opacity:0;
		background:rgba( 0, 0, 0, .4 ) no-repeat;
		background-position: center center;
		.transition( opacity .3s );
	}

	&:hover a.scroll-left,
	&:hover a.scroll-right { 
		opacity: .5;
	}

	a.scroll-left {
		left: 0;
		
		.border-radius( 0 3px 3px 0 );
		background-image: url( /img/scroll-left.png );

		&:hover {
			opacity: 1;
		}
	}

	a.scroll-right {
		right: 0;
		
		.border-radius( 3px 0 0 3px );
		background-image: url( /img/scroll-right.png );

		&:hover {
			opacity: 1;
		}
	}

	#works {
		height: @feature_banner_height;

		position: relative;
		
		overflow: hidden;
		.clear-list-styles;
		.box-shadow( inset 0px 1px 5px -1px #000 );

		li {
			display: block;
			width: 100%;
			height: @feature_banner_height;
			padding: 0;
			
			position: absolute;
			z-index: 10;
			left: 0;

			background-position: center; 
			
			margin: 0;

			div.content {
				opacity: 0;
				.transition( opacity .8s );	
			}

			&.animating {
				z-index: 20;
			}
			&.active {
				z-index: 30;

				div.content {
					opacity: 1;	
				}
			}

			h1, 
			p {
				color: @white;
			}


			&.ENCORE-DESIGN {
				background: url( /img/clients/kennedy-center/bg-med.jpg ) no-repeat;

				div.content {
					width: 500px;
					.pull-right;

					h1 {
						font-weight: normal;
						font-size: 49px;
						color: @white;
						text-align: right;
						line-height: 1.6em;
						
						margin-top: 36px;
					}

					p {
						width: 325px;
						
						.pull-right;
						
						color: @white;
						text-align: left;
					}
				}
				
			}

			&.Title-B {
				background: url( /img/clients/elgin-butler/bg-med.jpg ) no-repeat;
			}

			&.Title-C {
				background: url( /img/clients/westview-press/bg-med.jpg ) no-repeat;
			}

		}
	}
}


	
#logos {
	.clear-list-styles;
	.clearfix;
	padding: 14px 0;
	.inner;

	li {
		float: left;
		padding: 10px 40px;
		position: relative;

		.transition( opacity 1s );
		.transition( color .8s );
		.transition( background-image .8s );

		a {
			padding: 0 12px;
			
		}

		span {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			opacity: 0;
			padding: 10px 40px;
			.transition( opacity .5s );	
		}

		&.active span {
			opacity: 1;
		}

		//&.ENCORE-DESIGN {
			.hidden-text;
			background: url( /img/clients/kennedy-center/logo-white.png)  no-repeat center;
			width: 190px;

			span {
				width: 190px;
				background: url( /img/clients/kennedy-center/logo-color.png ) no-repeat center;
			}
		//}
	}
}


@media ( max-width: 1014px ) {
	.inner {
		width: 100%;
		padding: 0 5px;
		
		margin: 0;
	}
}
@media ( max-width: 979px ) and ( min-width: 768px ) {
// @media (max-width: 1014px) and (min-width: 651px){
// #featured-work #works li.ENCORE-DESIGN {
// 	background-image: url(/img/clients/kennedy-center/bg-1024.jpg);
// }
	#featured-work {
		#works {
			li.ENCORE-DESIGN {
				background-image: url( /img/clients/kennedy-center/bg-1024.jpg );
				// color: blue;
			}
		}
	}
}

@media ( max-width: 650px ) {
	#brand {
		height: 34px;
		width: 150px;

		float: none;
		
		background-image: url( /img/jake-logo-small.png );
		
		margin: 0 auto 20px;
	}
	#header {
		nav.primary-nav {
			width: 100%;
			
			float: none;

			ul {
				width: 100%;
				
				margin: 0;

				li {
					width: 25%;
					a {
						display: inline-block;
						.box-sizing( border-box );
						width: 100%;
						padding: 0;
						
						text-align: center;
					}
				}
			}
		}
	}

}